<!DOCTYPE html>
<html lang="es-es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <meta name="title" content="{{title}} | {{site.name}}" />
    <meta name="description" content="{{description}}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="{{twitter.card}}">
    <meta name="twitter:site" content="{{twitter.site}}">
    <meta name="twitter:title" content="{{twitter.title}}">
    <meta name="twitter:description" content="{{twitter.description}}">
    <meta name="twitter:creator" content="{{twitter.creator}}">
    <!-- Las imágenes de sumario de Twitter deben ser de al menos 200x200px -->
    <meta name="twitter:image" content="{{twitter.image}}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{og.title}}" />
    <meta property="og:description" content="{{og.description}}" />
    <meta property="og:type" content="{{og.type}}" />
    <meta property="og:url" content="{{site.url}}" />
    <meta property="og:site_name" content="{{site.name}}">
    <meta property="og:image" content="{{og.image}}" />
    <meta property="og:locale" content="{{og.locale}}" />


    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Raleway:wght@200;400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.1/dist/locomotive-scroll.css">

    <style>
        /* inject:styles-critical:css */
        /* endinject */
    </style>

    <!-- inject:css -->
    <!-- endinject -->

</head>

<body>
    {% block body %}
    {% endblock %}
    <!-- inject:vendors:js -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
</body>

{#
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>

<script>
    const swiper = new Swiper('.horizontal-scroll', {
        // Optional parameters
        direction: 'horizontal',
        mousewheel: true,
        loop: false,
        freeMode: true,


        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });

</script> #}


{# Gsap #}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>

{#
<script>
    let tween = gsap.to(".anima", {
        x: 100,
        id: "test",
        scrollTrigger: ".trigger"
    });
</script> #}



<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.1/dist/locomotive-scroll.min.js">
</script>

<script>
    const scroller = new LocomotiveScroll({
        el: document.querySelector('[data-scroll-container]'),
        smooth: true,
        direction: 'horizontal'
    });

</script>

</html>